body {
  margin: 200px 200px;
}

:root {
  margin: 0 auto;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}

h1 {
  color: white;
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

section {
  display: flex;
  justify-content: center;
  padding: 30px;
}

section .weather {
  color: #ffffff;
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.weather span {
  font-weight: bold;
}
